$active-color: #731AEB;
$font-color: #4f95cf;
$navbar-color: #bd6ce9;

.NavbarMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: $navbar-color;

    .logo {
        width: 100px;
        height: 30px;
        text-align: center;
        padding: 0.5rem;

        .logo-name {
            font-size: 14pt;
            font-weight: bold;
            color: #000;
        }
    }

    .search-container {
        display: flex;
        align-items: center;
        border: 2px solid #000;
        border-radius: 0.5rem;
        background-color: #ffff;

        .search-box {
            width: 15rem;
            height: 20px;
            padding: 1rem;
            border: none;
            border-radius: 0.5rem;
            background: none;
            font-size: 12pt;
        }

        .search-button {
            width: 40px;
            height: 20px;
            background: none;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
        }
    }

    .menu-bar {
        display: none;
    }

    .nav-list {
        list-style: none;
        display: flex;
        gap: 3rem;
        align-items: center;

        .nav-item {
            .nav-link {
                text-decoration: none;
                color: inherit;
                transition: 0.5s ease-in-out;

                &:hover {
                    color: white;
                }

                .icons {
                    font-size: 18pt;
                }
            }

            .active {
                .home-icon {
                    color: $active-color;
                }
            }
        }
    }

    

    .nav-list2 {
        list-style: none;
        display: flex;
        gap: 1rem;
        align-items: center;

        .nav-item {
            .nav-link {
                text-decoration: none;
                color: inherit;
            }

            .active {
                .home-icon {
                    color: $active-color;
                }
            }
        }
    }
}

.profile {
    width: 8.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border: 2px solid #000;
    border-radius: 2rem;
    background-color: #ffff;

    .username {
        font-size: 12pt;
        color: rgb(49, 49, 49);
        font-weight: bold;
    }
}